.notification-wrapper {
    position: relative;
    margin-top: 20px;

    .notification {
        position: fixed; // gắn cố định, cuộn trang cũng ko mất
        bottom: -100%;  // ở ngoài màn hình
        left: 50%; // căn giữa
        transform: translateX(-50%); // căn giữa
        width: 80%;
        max-width: 500px;
        color: white;
        padding: 30px 10% 0;
        border-radius: 10px 10px 0 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        animation: slideUp 0.5s forwards;  // trượt từ dưới lên trong vòng 0.5s, forwards là giữ nguyên trạng thái đến khi kết thúc
        z-index: 9999;

        .notification-content {
            display: flex;
            flex-direction: column;
            align-items: center;

            .text-content {
                width: 100%;
                margin-bottom: 20px;
                display: flex;
                flex-direction: row;
                text-align: left;

                .audio-btn {
                    width: 55px;
                    height: 55px;
                    border-radius: 50%;
                    border: none;
                    margin-right: 20px;
                    background-color: white;
                    font-size: 22px;
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
                    user-select: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    flex-shrink: 0;

                    &:hover {
                        background-color: #f2f2f2;
                    }
                }

                .word {
                    font-size: 24px;
                }

                .pron {
                    font-size: 17px;
                    margin: 14px 0 10px;
                }

                .mean {
                    margin-bottom: 14px;
                }

                .exam {
                    padding-bottom: 10px;
                }
            }

            .continue-button {
                width: 100%;
                display: flex;
                justify-content: center;
                padding: 10px 0 25px;

                button {
                    width: 200px;
                    height: 45px;
                    background-color: white;
                    box-shadow    : 0 4px 0 0 #c1c1c1;
                    border: none;
                    border-radius: 100px;
                    font-size: 18px;
                    font-weight   : 700;
                    font-family   : Quicksand;
                    line-height   : 38px;
                    letter-spacing: .257px;
                    text-align    : center;
                    user-select: none;
                    cursor: pointer;
                    padding       : 0 25px;
                    transition    : all .2s;

                    &:hover {
                        background-color: #f2f2f2;
                    }
                }
            }

            .icon {
                position: absolute;
                top: -20px;
                right: 50px;
                width: 50px;
                height: 50px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
                font-size: 22px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                color: #fff;
                border: none;
                cursor: pointer;
            }
        }
    }
}

@keyframes slideUp {
    0% {
        bottom: -100%;
    }
    100% {
        bottom: 0px;
    }
}

.main-problem {
    margin: 20px 0;

    .problem {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 20px;

        .problem-button {
            border-radius: 20px;
            transition: all 0.3s ease;

            &.selected {
                background-color: #3F51B5 !important;
                color: #fff !important;
                border: none;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hiệu ứng bóng */
            }
        }
    }
}







