.overlay {
    position       : fixed;
    top            : 0;
    left           : 0;
    width          : 100vw;
    height         : 100vh;
    display        : flex;
    align-items    : center;
    justify-content: center;
    z-index        : 1000;

    .container {
        width           : 100%;
        height          : 100%;
        background-color: white;

        .content {
            position  : relative;
            width     : 90%;
            height    : 100%;
            text-align: center;
            padding   : 0px 5%;
            transition: all 0.3s ease-in-out; // thời gian chuyển đổi hiệu ứng

            &.fade-in {
                opacity  : 1;
                transform: translateY(0); // nội dung ở vị trí ban đầu
            }

            &.fade-out {
                opacity  : 0;
                transform: translateY(-10px); // nội dung di chuyển lên một chút trước khi biến mất
            }

            .closeButton {
                position  : absolute;
                top       : -40px;
                left      : 30px;
                font-size : 2rem;
                background: transparent;
                border    : none;
                cursor    : pointer;
                color     : black;
            }

            .btn-cancel {
                display    : inline-block;
                margin     : 2vh auto 3.5vh;
                font-weight: 600;
                cursor     : pointer;
                color      : #828282;
                user-select: none;
            }

            // step 2
            .title-content {
                color      : #828282;
                font-size  : 20px;
                text-align : center;
                margin     : 3vh 0;
                font-weight: 600;
            }

            .sound-btn {
                margin: 20px 0;

                &__normal,
                &__slow {
                    width        : 70px;
                    height       : 70px;
                    border-radius: 50%;
                    border       : none;
                    font-size    : 24px;
                    box-shadow   : 0px 4px 8px rgba(0, 0, 0, 0.3);
                    user-select  : none;
                    cursor       : pointer;
                }

                &__normal {
                    margin-right: 10px;
                }

                &__slow {
                    margin-left: 10px;
                }

                &__normal:hover,
                &__slow:hover {
                    background-color: #e9e9e9;
                }
            }

            .input-step2 {
                background-color: #fff;
                font-size       : 18px;
                padding         : 16px;
                width           : 90%;
                max-width       : 590px;
                margin          : 2vh auto;
                border          : 2px solid #e0e0e0;
                border-radius   : 16px;
                outline         : none; // loại bỏ mặc định
                transition      : border-color 0.3s ease; // hiệu ứng mượt khi đổi màu
                min-height      : 30px;
                box-shadow      : 0px 4px 8px rgba(0, 0, 0, 0.1);

                &:focus {
                    border: 2px solid #3F51B5;
                }
            }

            // step 3
            .text-answer {
                font-size    : 30px;
                color        : #000;
                text-align   : center;
                font-weight  : 700;
                margin-bottom: 2vh;
            }
        }
    }
}

.custom-confirm-modal {
    width           : 300px;
    border-radius   : 16px;
    overflow        : hidden; // giới hạn nội dung bên trong
    background-color: #f9f9f9;
    box-shadow      : 0 4px 8px rgba(0, 0, 0, 0.1);

    .ant-modal-body {
        font-size  : 18px;
        color      : #333;
        line-height: 1.5;
        text-align : center;
    }

    .ant-modal-footer {
        display        : flex;
        justify-content: center;
        margin: 20px 0;

        .ant-btn {
            width           : 200px;
            height          : 45px;
            background-color: #fff;
            box-shadow      : 0 4px 0 0 #e0e0e0;
            border          : 1px solid #e0e0e0;
            border-radius   : 100px;
            font-size       : 18px;
            font-weight     : 700;
            font-family     : Quicksand;
            line-height     : 38px;
            letter-spacing  : .257px;
            text-align      : center;
            user-select     : none;
            cursor          : pointer;
            padding         : 0 25px;
            transition      : all .2s;
            margin          : 0 auto;

            &:hover {
                border: 1px solid #e0e0e0;
                color : #333;
            }
        }

        .ant-btn-primary {
            height        : 45px;
            width         : 200px;
            padding       : 0 25px;
            border-radius : 100px;
            border        : none;
            background    : linear-gradient(45deg, #4286ec, #3F51B5);
            box-shadow    : 0 4px 0 0 #3344a4;
            color         : #fff;
            cursor        : pointer;
            user-select   : none;
            font-size     : 18px;
            font-weight   : 700;
            font-family   : Quicksand;
            line-height   : 38px;
            letter-spacing: .257px;
            text-align    : center;
            margin-top    : 0 auto;

            &:hover {
                background: linear-gradient(45deg, #4286ec, #3F51B5);
                border: none;
                color : #fff;
            }
        }
    }
}