.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    .container {
        width: 100%;
        height: 100%;
        background-color: white;

        .content {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;

            .closeButton {
                position: absolute;
                top: -40px;
                left: 40px;
                font-size: 2rem;
                background: transparent;
                border: none;
                cursor: pointer;
                color: black;
            }
        }
    }
}