:root {
  --generalColumnWidth: 56vw;
  --header-height: 60px;
  --color-background: #fff;
  --color-background-hover: #E9E9E9;
  --color-background-click: #F2F2F2;
  --box-shadow-header: 3px 5px 5px hsla(0, 0%, 84%, .58);
  --color-text: #000;
  --color-user: #000;
}

.header-container {
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-background);
  box-shadow: var(--box-shadow-header);
  position: relative;
  z-index: 10;

  .page-header__logo {
    width: calc((100% - var(--generalColumnWidth)) / 2);
    min-width: 190px;
    display: flex;
    justify-content: center; /* ngang */
    align-items: center;    /* dọc */
    height: 100%;

    .logo-text {
        width: 190px;
        height: 35px;
        font-family: 'Arial', sans-serif;
        font-size: 30px;
        font-weight: bold;
        color: #3a41e2;
        letter-spacing: 1px;
        text-align: center;
        user-select: none;
        cursor: pointer;
    }
  }

  .page-header__navbar {
    width: var(--generalColumnWidth);
    display: flex;
    justify-content: center;

    .navbar-item {
      width: 25%;
      height: var(--header-height);
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: background-color 0.3s;
      cursor: pointer;

      &__icon{
        height: 30px;
        margin-top: 5px;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__title{
        font-size: 14px;
        font-weight: 500;
        margin-top: 3px;
        text-align: center;
        user-select: none;
        color: var(--color-text);
      }

      &:hover {
        background-color: var(--color-background-hover);
      }

      &.selected {
        background-color: var(--color-background-click);
      }
    }
  }

  .page-header__user {
    width: calc((100% - var(--generalColumnWidth)) / 2);
    display: flex;
    justify-content: flex-end;
    user-select: none;
    font-size: 16px;
    cursor: pointer;

    .guest{
      margin-right: 10%;
      height: 22px;
    }

    span{
      margin-right: 10%;
      color: var(--color-user);
      font-size: 14px;
      font-weight: 500;

      .iconSet {
        display: flex;
        align-items: center;
        font-size: 28px;
      }

      .user-say-hi {
        display: block;
      }

      .user-mobile {
        display: none;
      }
    }
  }
}

@media (max-width: 1080px) {

  .header-container {
    flex-direction: row;
    justify-content: space-between;
    box-shadow: none;

    .page-header__navbar {
      display: none;
    }

    .page-header__user{
      display: flex;
      align-items: center;
      height: 100%;

      span {
        .user-say-hi {
          display: none;
        }

        .user-mobile {
          height: 35px;
          font-size: 35px;
          display: block;
        }
      }
    }
  }
}