

.homepage-container {
    margin: 0 auto;
    .ant-row {
        .ant-col {
            height: calc(100vh - 60px);

            &:nth-child(1), &:nth-child(3){
                background-color: #ECECEC;
            }

            &:nth-child(2) {
                box-shadow: -5px 0 10px hsla(0, 0%, 84%, .58), 5px 0 10px hsla(0, 0%, 84%, .58);
                z-index: 5;
            }
        }
    }

    @media (max-width: 1080px) {
        .ant-row {
            .ant-col {
                &:nth-child(1),
                &:nth-child(3) {
                    display: none;
                }
                &:nth-child(2) {
                    width: 100%;
                    flex: 0 0 100%;
                }
            }
        }
    }
}
