.homepage-container {
    display: flex;
    margin : 0 auto;

    .sidebar {
        flex            : 2; // chiếm 2 cột
        background-color: #ECECEC;
    }

    .main-content {
        box-sizing: border-box;
        flex           : 5; // chiếm 5 cột
        box-shadow     : -5px 0 10px hsla(0, 0%, 84%, .58), 5px 0 10px hsla(0, 0%, 84%, .58);
        z-index        : 5;
        display        : flex;
        justify-content: center;
        padding-top    : 60px;
        padding-bottom : 60px;
        height     : 100vh; // Giới hạn chiều cao
        overflow-y     : auto; // Bật cuộn dọc

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.2);
            border-radius   : 3px;
        }

        &::-webkit-scrollbar-track {
            background-color: #f0f0f0;
        }
    }

    @media (max-width: 1080px) {
        .sidebar {
            display: none;
        }

        .main-content {
            flex: 1; // chiếm hết
            max-height     : calc(100vh - 60px);
        }
    }
}