.homepage-container {
    display: flex;
    margin: 0 auto;

    .sidebar {
        flex: 2; // chiếm 2 cột
        background-color: #ECECEC;
    }

    .main-content {
        flex: 5; // chiếm 5 cột
        box-shadow: -5px 0 10px hsla(0, 0%, 84%, .58), 5px 0 10px hsla(0, 0%, 84%, .58);
        z-index: 5;
        min-height: calc(100vh - 60px);
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }

    @media (max-width: 1080px) {
        .sidebar {
            display: none;
        }
        .main-content {
            flex: 1; // chiếm hết
        }
    }
}
